body{

font-family:Arial;

background:#f2f2f2;

text-align:center;

}

h1{

color:#333;

}

#chat{

width:700px;

height:400px;

background:white;

border:2px solid gray;

margin:auto;

padding:10px;

overflow-y:auto;

text-align:left;

margin-bottom:20px;

}

input{

width:500px;

padding:10px;

font-size:18px;

}

button{

padding:10px 20px;

font-size:18px;

cursor:pointer;

margin-left:10px;

}

p{

background:#DCF8C6;

padding:10px;

border-radius:10px;

margin:10px;

}
